[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kubernetes = "*"
flask = "*"
flask-restful = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
waitress = ">=2.1.2"
python-dateutil = "==2.6.0"
flask-assets = "*"
pytailwindcss = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.8"
