{% extends 'base.html' %}

{% block content %}
    <!-- Main Content -->
    <main class="flex-1 p-10">
        <div class="flex border-b border-gray-400">
            <h2 class="py-4 text-2xl font-roboto font-semibold text-white">
                Create a Cluster
            </h2>
        </div>
        <div class="flex items-center justify-center">
            <div class="my-8 mx-4 w-5/6 h-5/6 bg-slate-800 rounded-lg shadow-lg">
                <form method="post" id="cluster-create" action="/ui/clusters/create">
                    <div class="mx-4 my-8 flex items-left justify-left">
                        <label class="mx-4 text-white block font-roboto font-semibold" for="name">Name:</label>
                        <input class="w-2/3 p-2 rounded bg-slate-800 text-white outline-none ring border-blue-500" type="text" id="name" name="name" required>
                    </div>
                    <div class="mx-4 my-8 flex items-left justify-left">
                        <label class="mx-4 text-white block font-roboto font-semibold" for="server-url">API Server URL:</label>
                        <input class="w-2/3 p-2 rounded bg-slate-800 text-white outline-none ring border-blue-500" type="text" id="server-url" name="server-url" required>
                    </div>
                    <div class="mx-4 my-8 flex items-left justify-left">
                        <label class="mx-4 text-white block font-roboto font-semibold" for="certificate-authority">Certificate Authority:</label>
                        <textarea class="w-2/3 p-2 rounded bg-slate-800 text-white outline-none ring border-blue-500" rows="5" cols="33"id="certificate-authority" name="certificate-authority"></textarea>
                    </div>
                    <div class="mx-4 my-8 flex items-left justify-left">
                        <label class="mx-4 text-white block font-roboto font-semibold" for="token">Serviceaccount Token:</label>
                        <textarea class="w-2/3 p-2 rounded bg-slate-800 text-white outline-none ring border-blue-500" rows="5" cols="33"id="token" name="token"></textarea>
                    </div>
                    <div class="bg-gray-900 mx-4 my-8 flex items-center justify-center text-white text-align-center font-bold w-36 h-12 my-2 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-105 hover:bg-indigo-700 duration-300 rounded-lg shadow-lg overflow-hidden">
                        <button class="mx-4" type="submit">Create</button>
                    </div>
                </form>
            </div>
        </div>      
    </main>
{% endblock content %}