{% extends 'base.html' %}

{% block content %}
    <!-- Main Content -->
    <main class="flex-1 p-10">
        <div class="flex border-b border-gray-400">
            <h2 class="py-4 text-2xl font-roboto font-semibold text-white">
                All Organizations
            </h2>
            <form class="flex items-center justify-center text-white text-align-center font-bold w-12 h-12 my-2 ml-auto transition ease-in-out delay-150 bg-slate-800 hover:-translate-y-1 hover:scale-105 hover:bg-indigo-700 duration-300 rounded-lg shadow-lg overflow-hidden" action="/ui/organizations/create/form">
                <input class="p-4" type="submit" value="+" />
            </form>
        </div>
        <div class="flex flex-wrap items-left justify-left">
            <div class="w-small w-2/3 mx-auto py-10 text-gray-600">
                <input
                  type="text"
                  name="search"
                  hx-post="/ui/jobs/search"
                  hx-trigger="keyup changed delay:250ms"
                  hx-indicator=".htmx-indicator"
                  hx-target="#job-results"
                  placeholder="Search"
                  class="bg-white h-10 px-5 pr-10 rounded-full text-2xl focus:outline-none"
                >
                <span class="htmx-indicator">Searching...</span>
              </div>
              
              <table class="border-collapse w-small w-2/3 mx-auto">
                <thead>
                  <tr>
                    <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Job Name</th>
                  </tr>
                </thead>
                <tbody id="todo-results">
                  {% if jobs|length>0 %}
                  {% for job in jobs %}
                    <tr class="bg-white lg:hover:bg-gray-100 flex lg:table-row flex-row lg:flex-row flex-wrap lg:flex-no-wrap mb-10 lg:mb-0">
                      <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">{{job.job_name}}</td>
                    </tr>
                  {% endfor %}
                {% endif %}
                </tbody>
              </table>
        </div>      
    </main>
{% endblock content %}