
<!-- Sidebar -->
<aside class="bg-slate-800 text-white w-64 p-6">
    <div class="flex items-center justify-center p-2">
        <div class="w-40 h-40 overflow-hidden p-4">
            <img src="{{ url_for('static', filename='images/boa-icon.png') }}" alt="Boa Icon Image" class="w-20 h-20 my-5">
        </div>
        <div class="text-2xl font-opensans font-medium p-4">Boa CI/CD</div>
    </div>
    <ul>
        <li class="py-4 border-t border-white">
            <a href="#" class="font-opensans font-light">
                <div class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 rounded-lg hover:bg-indigo-700 duration-300 pl-4 py-3 pr-20">
                    Administration
                </div>
            </a>
        </li>
        <li class="py-4 border-t border-white">
            <a href="#" class="font-opensans font-light">
                <div class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 rounded-lg hover:bg-indigo-700 duration-300 pl-4 py-3 pr-20">
                    Dashboard
                </div>
            </a>
        </li>
        <li class="py-4 border-t border-white">
            <a href="/ui/organizations" class="font-opensans font-light">
                <div class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 rounded-lg hover:bg-indigo-700 duration-300 pl-4 py-3 pr-20">
                    Organizations
                </div>
            </a>
        </li>

        <li class="py-4 border-t border-white">
            <a href="/ui/clusters" class="font-opensans font-light">
                <div class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 rounded-lg hover:bg-indigo-700 duration-300 pl-4 py-3 pr-20">
                    Clusters
                </div>
            </a>
        </li>
        <li class="py-4 border-t border-white">
            <a href="/ui/jobs" class="font-opensans font-light">
                <div class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 rounded-lg hover:bg-indigo-700 duration-300 pl-4 py-3 pr-20">
                    Jobs
                </div>
            </a>
        </li>
        <!-- Add more sidebar items here -->
    </ul>
</aside>